.item-info{
  height: 44px;
  background:#fff;
  box-shadow:0px 4px 10px 0px rgba(231,231,231,1);
  border-radius:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px 0 14px;
  margin-bottom :10px;

}
.item-info:last-child{
  margin-bottom: 0;
}
.item-info .label{
  font-size:18px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
}
.padding-10{
  padding: 10px
}
.operate-btn{
  width:305px;
  height:44px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 5px 0px rgba(231,231,231,1);
  border-radius:5px;
  font-size:18px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(239,239,244,1);
}

.form-list .form-item{
  height:44px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 5px 0px rgba(231,231,231,1);
  border-radius:5px;
  padding: 8px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-list .form-item:last-child{
  margin-bottom: 0;
}
.form-list .form-item .label{
  min-width:120px;
  font-size:18px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  text-align: left;
}
.form-list .form-item input{
  flex :1;
  font-size: 15px;
  padding: 10px 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.van-dropdown-menu__item{
  justify-content: flex-start !important;
  padding-left: 130px;
  font-size: 20px;
}
.van-dropdown-menu__item span{
  font-family:PingFangSC-Medium;
  font-size:15px;
  font-family:PingFang-SC-Medium;
  /* font-weight:500; */
  color:#333;
  /* rgb(25, 137, 250) */
}
.van-dropdown-menu__title::after{
  color:#8E8E93;
  top: 7px !important;
}
.van-cell--clickable:first-child .van-dropdown-item__icon{
  /* color: #fff !important */
}
.van-cell--clickable .van-cell__title{
  font-weight:bold;
  text-align: center;

}
.van-cell--clickable:first-child .van-cell__title{
  color: #323233 !important;
}
